BALE_BOT_TOKEN=your-bale-bot-token
BALE_WEBHOOK_SECRET=your-random-secret
BALE_API_BASE_URL=https://tapi.bale.ai
APP_ENV=local
LOG_LEVEL=debug
BALE_OTP_CLIENT_ID=your-bale-otp-client-id
BALE_OTP_CLIENT_SECRET=your-bale-otp-client-secret
BALE_OTP_BASE_URL=https://safir.bale.ai/api/v2
BALE_OTP_SCOPE=read
